###### TELEGRAM BOT SECTION ######
TELEGRAM_TOKEN=
#TELEGRAM_LOCAL_SERVER_URL=http://api
#TELEGRAM_WEBHOOK_URL=http://bot

###### TELEGRAM API SECTION ######
TELEGRAM_API_ID=1234567890
TELEGRAM_API_HASH=6b1c009ccfdwfgdaw325665432
TELEGRAM_LOCAL=1

###### WEBAPP SECTION ######
#WEBAPP_HOST=0.0.0.0
#WEBAPP_PORT=80

###### LOGGING SECTION ######
#LOGGING_LEVEL=INFO
#LOGGING_FORMAT="%(asctime)s - %(name)s - %(levelname)s - %(message)s"
#LOGGING_DATEFMT="%Y-%m-%d %H:%M:%S"
